@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    width: 100%;
    height: auto;
    display: block;
}

video {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.content {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

.content img {
    max-width: 1200px;
    width: 100%;
}

.target-fix {
    position: relative;
    top: -75px;
    display: block;
    height: 0;
    overflow: hidden;
}


/* menu */

.header_array {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header {
    background: rgba(255, 255, 255, 0.5);
    width: 1920px;
    border-bottom: 1px solid #c69f5e;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.header div:first-child,
.header div:last-child {
    display: flex;
    align-self: center;
    justify-content: center;
}

.header div:first-child {
    width: 200px;
    margin: 0 0 0 30px;
}

.header div:last-child a {
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 1px;
    margin: 0 30px 0 0;
    text-decoration: none;
    color: #835600;
    transition: all 0.5s;
}

.header div:last-child a:hover {
    color: #86963e;
}

@media screen and (max-width: 1919px) {
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 15px 0;
    }
    .header div:first-child {
        width: 150px;
        margin: 0 0 0 20px;
    }
    .header div:last-child a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 560px) {
    .header div:first-child {
        width: 100px;
        margin: 0 0 0 15px;
    }
    .header div:last-child a {
        font-size: 0.8rem;
        margin: 0 15px 0 0;
    }
}

@media screen and (max-width: 410px) {
    .header {
        padding: 10px 0;
    }
    .header div:first-child {
        width: 80px;
        margin: 0 0 0 8px;
    }
    .header div:last-child a {
        font-size: 0.75rem;
        margin: 0 8px 0 0;
    }
}

@media screen and (max-width: 350px) {
    .header {
        justify-content: center;
        padding: 10px 0;
    }
    .header div:first-child {
        display: none;
    }
    .header div:last-child a {
        margin: 0 20px 0 0;
    }
    .header div:last-child a:last-child {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 5px 0;
    }
}


/* menu end */

.bg {
    background-size: cover;
    margin: 0 auto;
}

.queen {
    position: absolute;
    width: 90%;
    bottom: 27%;
    left: 5%;
}

.pd_youtube {
    position: absolute;
    width: 30%;
    bottom: 7%;
    right: 9%;
}

.make {
    position: absolute;
    width: 34%;
    bottom: 5%;
    right: 5%;
}

.tv_gif {
    position: absolute;
    width: 80%;
    top: 36%;
    left: 10%;
}

.btn {
    position: absolute;
    filter: drop-shadow(3px 5px 8px #00000050);
}

.btn01 {
    width: 40%;
    bottom: 4%;
    left: 5%;
}

.btn02 {
    width: 40%;
    bottom: 4%;
    right: 5%;
}

.btn03 {
    width: 80%;
    bottom: 4%;
    left: 10%;
}

.btn04 {
    width: 80%;
    bottom: 15%;
    left: 10%;
}

.shiny-btn {
    display: block;
    position: relative;
    overflow: hidden;
}

.shiny-btn:hover {
    transform: translateY(3px);
}

.shiny-btn::before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    transition: 0.2s;
    animation: shiny-btn 3s ease-in-out infinite;
}

@keyframes shiny-btn {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }
    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }
    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

.fb {
    position: absolute;
    width: 30%;
    top: 22%;
    left: 35%;
}

@media screen and (min-width: 1921px) {
    body {
        background: #fff;
    }
    section {
        max-width: 1920px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        margin: 0;
        width: 100%;
    }
}